PL_copyPostsEveryday/PL_copyPostsEveryday.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_Databricks":{"type":"string"},"LS_gen2":{"type":"string"},"LS_ADLS":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_copyPostsEveryday')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Load Posts Data","type":"Copy","dependsOn":[{"activity":"Clean Folder","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"ParquetSource","storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*.parquet","enablePartitionDiscovery":false},"formatSettings":{"type":"ParquetReadSettings"}},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"id","type":"Int32","physicalType":"INT32"},"sink":{"name":"id","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"AcceptedAnswerId","type":"Int32","physicalType":"INT32"},"sink":{"name":"AcceptedAnswerId","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"AnswerCount","type":"Int32","physicalType":"INT32"},"sink":{"name":"AnswerCount","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"Body","type":"String","physicalType":"UTF8"},"sink":{"name":"Body","type":"String","physicalType":"UTF8"}},{"source":{"name":"CommentCount","type":"Int32","physicalType":"INT32"},"sink":{"name":"CommentCount","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"CreationDate","type":"DateTime","physicalType":"DATE"},"sink":{"name":"CreationDate","type":"DateTime","physicalType":"INT_96"}},{"source":{"name":"FavoriteCount","type":"Int32","physicalType":"INT32"},"sink":{"name":"FavoriteCount","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"LastEditDate","type":"DateTime","physicalType":"DATE"},"sink":{"name":"LastEditDate","type":"DateTime","physicalType":"INT_96"}},{"source":{"name":"LastEditorDisplayName","type":"String","physicalType":"UTF8"},"sink":{"name":"LastEditorDisplayName","type":"String","physicalType":"UTF8"}},{"source":{"name":"LastEditorUserId","type":"Int32","physicalType":"INT32"},"sink":{"name":"LastEditorUserId","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"OwnerUserId","type":"Int32","physicalType":"INT32"},"sink":{"name":"OwnerUserId","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"ParentId","type":"Int32","physicalType":"INT32"},"sink":{"name":"ParentId","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"PostTypeId","type":"Int32","physicalType":"INT32"},"sink":{"name":"PostTypeId","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"Score","type":"Single","physicalType":"FLOAT"},"sink":{"name":"Score","type":"Single","physicalType":"FLOAT"}},{"source":{"name":"Tags","type":"String","physicalType":"UTF8"},"sink":{"name":"Tags","type":"String","physicalType":"UTF8"}},{"source":{"name":"Title","type":"String","physicalType":"UTF8"},"sink":{"name":"Title","type":"String","physicalType":"UTF8"}},{"source":{"name":"ViewCount","type":"Int32","physicalType":"INT32"},"sink":{"name":"ViewCount","type":"Int32","physicalType":"INT_32"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_Blob","type":"DatasetReference","parameters":{"FolderName":"Posts_today"}}],"outputs":[{"referenceName":"DS_Parquet","type":"DatasetReference","parameters":{"FileName":"Posts.parquet","FolderName":{"value":"@concat('bd-project/Posts/')","type":"Expression"}}}]},{"name":"ML Sentiment Analysis","type":"DatabricksNotebook","dependsOn":[{"activity":"Load Posts Data","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"notebookPath":"/Users/hasaan.wahid@beaconperformanceconsulting.com/ML Project/ML Sentiment Analysis"},"linkedServiceName":{"referenceName":"[parameters('LS_Databricks')]","type":"LinkedServiceReference"}},{"name":"Clean Folder","type":"Delete","state":"Inactive","onInactiveMarkAs":"Succeeded","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataset":{"referenceName":"DS_Blob","type":"DatasetReference","parameters":{"FolderName":"Posts_today"}},"enableLogging":false,"storeSettings":{"type":"AzureBlobStorageReadSettings","recursive":true,"wildcardFileName":"*","enablePartitionDiscovery":false}}}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_Blob')]","[concat(variables('factoryId'), '/datasets/DS_Parquet')]"]},{"name":"[concat(parameters('factoryName'), '/DS_Blob')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_gen2')]","type":"LinkedServiceReference"},"parameters":{"FolderName":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobStorageLocation","folderPath":{"value":"@dataset().FolderName","type":"Expression"},"container":"de-project-st"},"compressionCodec":"snappy"},"schema":[]},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_Parquet')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS')]","type":"LinkedServiceReference"},"parameters":{"FileName":{"type":"string"},"FolderName":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"fileSystem":{"value":"@dataset().FolderName","type":"Expression"}},"compressionCodec":"snappy"},"schema":[{"name":"ProductID","type":"INT32"},{"name":"Name","type":"UTF8"},{"name":"Color","type":"UTF8"},{"name":"ListPrice","type":"DECIMAL","precision":19,"scale":4},{"name":"Size","type":"UTF8"},{"name":"UnitPrice","type":"DECIMAL","precision":19,"scale":4},{"name":"OrderQty","type":"DECIMAL","precision":29,"scale":4}]},"dependsOn":[]}]}