PL_copyOnceWeek/PL_copyOnceWeek.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"LS_RDS":{"type":"string"},"LS_ADLS":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/PL_copyOnceWeek')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Load Users Data","type":"Copy","dependsOn":[],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"PostgreSqlSource"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"id","type":"Int32"},"sink":{"name":"id","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"age","type":"String"},"sink":{"name":"age","type":"String","physicalType":"UTF8"}},{"source":{"name":"creationdate","type":"DateTime"},"sink":{"name":"creationdate","type":"DateTime","physicalType":"INT_96"}},{"source":{"name":"displayname","type":"String"},"sink":{"name":"displayname","type":"String","physicalType":"UTF8"}},{"source":{"name":"downvotes","type":"Int32"},"sink":{"name":"downvotes","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"emailhash","type":"String"},"sink":{"name":"emailhash","type":"String","physicalType":"UTF8"}},{"source":{"name":"location","type":"String"},"sink":{"name":"location","type":"String","physicalType":"UTF8"}},{"source":{"name":"reputation","type":"Int32"},"sink":{"name":"reputation","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"upvotes","type":"Int32"},"sink":{"name":"upvotes","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"views","type":"Int32"},"sink":{"name":"views","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"websiteurl","type":"String"},"sink":{"name":"websiteurl","type":"String","physicalType":"UTF8"}},{"source":{"name":"accountid","type":"Int32"},"sink":{"name":"accountid","type":"Int32","physicalType":"INT_32"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_RDS","type":"DatasetReference","parameters":{"SchemaName":"raw_st","TableName":"users"}}],"outputs":[{"referenceName":"DS_Parquet","type":"DatasetReference","parameters":{"FileName":"Users.parquet","FolderName":{"value":"@concat('bd-project/Users/')","type":"Expression"}}}]},{"name":"Load postTypes Data","type":"Copy","dependsOn":[{"activity":"Load Users Data","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"0.12:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"source":{"type":"PostgreSqlSource"},"sink":{"type":"ParquetSink","storeSettings":{"type":"AzureBlobFSWriteSettings"},"formatSettings":{"type":"ParquetWriteSettings"}},"enableStaging":false,"translator":{"type":"TabularTranslator","mappings":[{"source":{"name":"id","type":"Int32"},"sink":{"name":"id","type":"Int32","physicalType":"INT_32"}},{"source":{"name":"type","type":"String"},"sink":{"name":"type","type":"String","physicalType":"UTF8"}}],"typeConversion":true,"typeConversionSettings":{"allowDataTruncation":true,"treatBooleanAsNumber":false}}},"inputs":[{"referenceName":"DS_RDS","type":"DatasetReference","parameters":{"SchemaName":"raw_st","TableName":"posttypes"}}],"outputs":[{"referenceName":"DS_Parquet","type":"DatasetReference","parameters":{"FileName":"postTypes.parquet","FolderName":{"value":"@concat('bd-project/postTypes/')","type":"Expression"}}}]}],"policy":{"elapsedTimeMetric":{}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/datasets/DS_RDS')]","[concat(variables('factoryId'), '/datasets/DS_Parquet')]"]},{"name":"[concat(parameters('factoryName'), '/DS_RDS')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_RDS')]","type":"LinkedServiceReference"},"parameters":{"SchemaName":{"type":"string"},"TableName":{"type":"string"}},"annotations":[],"type":"PostgreSqlTable","schema":[],"typeProperties":{"schema":{"value":"@dataset().SchemaName","type":"Expression"},"table":{"value":"@dataset().TableName","type":"Expression"}}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/DS_Parquet')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('LS_ADLS')]","type":"LinkedServiceReference"},"parameters":{"FileName":{"type":"string"},"FolderName":{"type":"string"}},"annotations":[],"type":"Parquet","typeProperties":{"location":{"type":"AzureBlobFSLocation","fileName":{"value":"@dataset().FileName","type":"Expression"},"fileSystem":{"value":"@dataset().FolderName","type":"Expression"}},"compressionCodec":"snappy"},"schema":[{"name":"ProductID","type":"INT32"},{"name":"Name","type":"UTF8"},{"name":"Color","type":"UTF8"},{"name":"ListPrice","type":"DECIMAL","precision":19,"scale":4},{"name":"Size","type":"UTF8"},{"name":"UnitPrice","type":"DECIMAL","precision":19,"scale":4},{"name":"OrderQty","type":"DECIMAL","precision":29,"scale":4}]},"dependsOn":[]}]}